<!DOCTYPE html>
<html>
<head>
    <title>403</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<section class="content">
    <div class="error-page">
        <h1 class="headline text-warning"> 403</h1>
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Forbidden: Bạn không có quyền truy cập vào trang này.</h3>
            <p>
                <a style="color: #A71933" href="<%= homePage %>">Quay về trang chủ</a>
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
</body>
</html>

